/*=========================================*/
/*========== EDIT REFERENCE FORM ==========*/

.images-project-edit {
    width: 80%;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images-project-edit h3 {
    text-align: center;
    font-size: 2.4rem;
    margin: 5% 0;
}

#edit-project-primary-image {
    width: 450px;
    height: 310px;
}

#edit-project-secondary-image {
    width: 320px;
    height: 210px;
}