#partner-form-page {
    width: 100vw;
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-form-block {
    width: 45%;
    background-color: rgba(240, 240, 245, 1);
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    padding: 2% 1%;
}

.partner-form-inside-block {
    width: 90%;
    overflow: hidden;
}

.partner-form-label-input {
    border-top: 3px solid rgba(59, 62, 71, 0.048);
    border-left: 3px solid rgba(59, 62, 71, 0.048);
    border-right: 3px solid rgba(59, 62, 71, 0.048);
    border-bottom: 3px solid #F49E0A;
    border-radius: 10px;
}

.partner-form-group {
    display: flex;
    flex-direction: column;
    padding: 1% 5%;
} 

.partner-form-group label {
    font-size: 2.4rem;
    font-weight: 500;
}

.partner-form-group input {
    outline: none;
    font-size: 1.6rem;
    padding: 1%;
}

.partner-form-block select {
    background-color: #fff;
    padding: 1%;
    font-size: 1.6rem;
    outline: none;
}

.partner-form-group:last-child {
    margin-bottom: 2%;
}

.partner-form-group #partner_description {
    outline: none;
    font-size: 1.6rem;
    padding: 1%;
}

.partner-form-inside-block-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5%;
}

.partner-form-inside-block-button input[type="submit"] {
    font-size: 2rem;
    margin: 0% 5% 0 0%;
    padding: 1% 5%;
}

.edit-partner-description h3 {
    height: 15%;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2.4rem;
}

.edit-partner-image {
    max-width: 20%;
    margin: 0 auto;
}

.edit-partner-image img {
    width: 100%;
    object-fit: cover;
}

.delete-partner-button {
    font-size: 2rem;
    padding: 0.8rem;
    margin: 4rem 0;
}

/*========== RESPONSIVE ==========*/

@media screen and (max-width: 1300px) {
    .partner-form-block {
        width: 60%;
    }

    .edit-partner-image {
        width: 25%;
    }
}

@media screen and (max-width: 860px) {
    .partner-form-block {
        width: 70%;
    }
    .edit-partner-image {
        width: 30%;
    }
}