{% extends 'base.html.twig' %}

{% block title %}INGE SCOP{% endblock %}

{% block pageContainer %}
    {% if is_granted('ROLE_ADMIN') %}
            <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong>&#11013;</strong> Retour au panneau de configuration</a>
    {% endif %}
    <div class="home-page">
        <div class="home-container">
            <div class="home-banner">
                <p class="sentence">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class="home-container-top">
                    <a id="home-link-pro" class="link-block" href="{{ path("professionnal_list") }}">
                        <p>
                            Maître d'oeuvre<br>
                            <em>Vous recherchez un professionnel</em>
                        </p>
                    </a>
                    <a id= "home-link-service" class="link-block" href="{{ path("services_list") }}">
                        <p>
                            Maître d'ouvrage<br>
                            <em>Vous recherchez un service</em>
                        </p>
                    </a>
                </div>
            </div>
            <div class="home-container-bottom">
                <a href="{{ path("presentation") }}">Qui sommes-nous ?</a>
            </div>
        </div>
    </div>

{% endblock %}


