{% extends 'base.html.twig' %}

{% block title %}INGE SCOP{% endblock %}

{% block pageContainer %}
    {% if is_granted('ROLE_ADMIN') %}
            <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong>&#11013;</strong> Retour au panneau de configuration</a>
    {% endif %}
    <div class="home-page">
        <div class="home-container">
            <div class="home-banner">
                <p class="sentence">
                    1Gscop est une Coopérative d’Activités et d’Emplois dédiée à la rénovation et à la construction,
                    de l’échelle du bâtiment jusqu’à l’échelle urbaine. Le projet 1gscop est né à l’heure où
                    il était question du déploiement de la 5G en France… et à une époque de l’histoire humaine où il n’a jamais été aussi important de (re)concilier le soin des femmes et des hommes avec celui qu’il convient de porter à notre Terre.
                </p>
                <div class="home-container-top">
                    <a id="home-link-pro" class="link-block" href="{{ path("professionnal_list") }}">
                        <p>
                            Maître d'oeuvre<br>
                            <em>Vous recherchez un professionnel</em>
                        </p>
                    </a>
                    <a id= "home-link-service" class="link-block" href="{{ path("services_list") }}">
                        <p>
                            Maître d'ouvrage<br>
                            <em>Vous recherchez un service</em>
                        </p>
                    </a>
                </div>
            </div>
            <div class="home-container-bottom">
                <a href="{{ path("presentation") }}">Qui sommes-nous ?</a>
            </div>
        </div>
    </div>

{% endblock %}


