<form method="post" action="{{ path('admin_deletepro', {'id': pro.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pro.id) }}">
    <button class="btn">Supprimer le professionnel</button>
</form>
