<div class="flex justify-center">
    {{ form_start(form, {'attr': {'class': 'box-content p-4'}}) }}
        <div class="decoration-clone bg-gray-200 p-20 rounded-xl border-2">
            <div class="flex flex-col items-center space-y-6 ">
                {{ form_widget(form, {'attr': {'class': 'shadow appearance-none h-15 w-32 p-4 w-full focus:outline-none border-b-2 border-yellow-500 placeholder-gray-400 text-4xl  m-3'}}) }}
                <input type ="submit" value="Valider" class="bg-gray-700 hover:bg-yellow-600 transition duration-500 cursor-pointer text-white text-4xl font-bold py-6 px-9 rounded-full focus:outline-none focus:shadow-outline">
            </div>
        </div>
</div>
    {{ form_end(form) }}
