<div class="flex justify-center">
    {{ form_start(form) }}
        <div class="bg-gray-200">
            <div>
                {{ form_widget(form, {'attr': {'class': 'custom_class'}}) }}
                <input type ="submit" value="Valider" class="bg-gray-700 hover:bg-yellow-600 transition duration-500 cursor-pointer text-white text-4xl font-bold py-6 px-6 rounded-full focus:outline-none focus:shadow-outline">
            </div>
        </div>
</div>
    {{ form_end(form) }}
