{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block pageContainer %}
    <h1>Edit new User</h1>

    {{ include('admin/_formprofessionnal.html.twig') }}

    {{ include('admin/_deleteprofessionnal.html.twig') }}

    <a href="{{ path('admin_panelconfig') }}">back to list</a>
{% endblock %}
