{% extends 'base.html.twig' %}

{% block title %}Edit Project{% endblock %}

{% block pageContainer %}
    <h1>Éditer le Project</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_panelconfig') }}">Retour à la liste des projets</a>

    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
