{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block pageContainer %}
    <h1>Create new Project</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('admin_panelconfig') }}">back to list</a>
{% endblock %}
