{% extends 'base.html.twig' %}
{% block pageContainer %}

    <div class="client-service-page">

        <h1>Nos services</h1>
        <div class="services-list">
            {% for service in services %}
                <div class="bubble-pro"><p>{{ service.name }}</p></div>
            {% endfor %}
        </div>
    </div>

{% endblock %}