{% extends 'base.html.twig' %}

{% block pageContainer %}

    <div class="service-show-page">
        <h1>{{ service.name }}</h1>
        <h2>{{ service.category }}</h2>
        <p>Description</p>
    </div>

{% endblock %}