<form method="post" action="{{ path('admin_deleteproject', {'id': project.id}) }}" onsubmit="return confirm('Êtes vous sûr vouloir supprimer ce projet?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn">Supprimer le projet</button>
</form>
