{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block pageContainer %}
    <h1>Créer un nouveau projet</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('admin_panelconfig') }}"> &#11013; Revenir au panneau de configuration</a>
{% endblock %}
