@import 'variables.css';

/*========== GENERAL PRESETS ==========*/
/*=====================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'caveat';
    src: url(/public/fonts/Caveat/Caveat-VariableFont_wght.ttf);
    font-style: normal;
    /*font-weight 400, 500, 600 ou 700*/
}

@font-face {
    font-family: 'open-sans';
    src: url(/public/fonts/Open_Sans/OpenSans-Regular.ttf);
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
    font-family: open-sans;
    font-weight: 300;
}

/*========== ANIMATIONS KEYFRAMES ==========*/
/*==========================================*/

@keyframes moveInLeft {
    0% {
            opacity: 0;
            transform: translateX(-10rem);
    }

    80% {
            opacity: 0.6;
            transform: translateX(1rem);
    }

    100% {
            opacity: 1;
            transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
            opacity: 0;
            transform: translateX(10rem);
    }

    80% {
            opacity: 0.6;
            transform: translateX(-1rem);
    }

    100% {
            opacity: 1;
            transform: translateX(0);
    }
}

@keyframes moveInBottom{
    0% {
            opacity: 0;
            transform: translateY(3rem);
    }

    100% {
            opacity: 1;
            transform: translateY(0);
    }
}

@keyframes moveInTop{
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*========== HEADER ==========*/
/*============================*/

header {
    max-width: 100vw;
    height: 12vh;
    background-color: #fff;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(196, 196, 196, 0.445);
}

.header--logo {
    width: 10%;
    height: auto;
    margin: 3.2rem;
    animation: moveInLeft 1s ease;
}
.logo {
    width: 120%;
}

header nav {
    height: 100%;
    width: 50%;
}

header ul {
    height:  100%;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a{
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    font-size: 2.4rem;
    position: relative;
}

header nav ul li a::before{
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--black);
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 100;
}

header nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--red);
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 100;
}

header nav ul li a:hover::before,
header nav ul li a:hover::after {
    transition: width 1s ease;
    width: 100%;
}

header nav ul li a.custom {
    border-top: 3px solid var(--black);
    border-bottom: 3px solid var(--red);
}

.header--form-links {
    margin-right: 1.6rem;
    animation: moveInRight 1s 0.5s ease;
    animation-fill-mode: backwards;
}

.header--form-links p {
    font-size: 2.4rem;
    padding: 0.8rem;
    margin: 0.6rem 1.6rem;
    text-align: center;
    border-radius: 40px;
}

.header--form-links p:first-child {
    border: 1px solid var(--black);
}

.header--form-links p:first-child a {
    text-decoration: none;
    color: var(--black);
    padding: 0 0.8rem;
}

.header--form-links p:nth-child(2) {
    background-color: var(--black);
}

.header--form-links p:nth-child(2) a {
    text-decoration: none;
    color: #fff;
    padding: 0 0.8rem;
}

/*========= Footer ===========*/
/*============================*/

footer {
    max-width: 100vw;
    height: 12vh;
    background-color: #fff;
    color: var(--black);
    font-size: 1.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid rgba(196, 196, 196, 0.445);
    animation: moveInBottom 1s 1s ease;
    animation-fill-mode: backwards;
}

footer p {
    font-size: 2.4rem;
    text-align: center;
}

.footer-home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-home p {
    text-align: left;
    line-height: 1.5;
}

.footer-home #footer-left {
    padding: 1.6rem 4.8rem;
    margin: 1.6rem;
    color: var(--black);
    font-size: 2.4rem;
    text-align: left;
}

.footer-home #footer-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3.2rem;
}

.footer-home #footer-right p {
    margin: 0 3.2rem;
    padding: 3.2rem;
    font-size: 2.4rem;
}

.footer-home a {
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-partenaire {
    height: auto;
    margin: 3.2rem;
    width: 100%;
}

/*========== ACCUEIL PAGE (home page) ==========*/
/*==================================*/

.home-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-container {
    width : 100vw;
    height: 76vh;
    display: flex;
    flex-direction: column;
}

.home-banner {
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.253)), url(/assets/images/1gscop-pano-accueil-2.jpg);
    background-size: cover;
}

.sentence-block {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-banner .sentence {
    font-size: 2.4rem;
    width: 65%;
    color: var(--white);
    line-height: 4rem;
    letter-spacing: 1px;
    animation: appear 1.5s ease 1.5s;
    animation-fill-mode: backwards;
}

.home-container-top {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-container-top .link-block {
    width: 25%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    animation: appear 0.6s ease;
}

.home-container-top .link-block:first-child  {
    border-radius: 40% 60%;
    background-color: rgba(59, 62, 71, 0.65);
}

.home-container-top .link-block:nth-child(2)  {
    border-radius: 60% 40%;
    background-color: rgba(237, 114, 26, 0.644);
}

.home-container-top .link-block p {
    font-size: 3.2rem;
    color: var(--white);
    margin-top: 5%;
}

.home-container-top a {
    text-decoration: none;
    font-size: 3.2rem;
    padding: 2% 4%;
    color: var(--white);
    border-radius: 100px;
}

.home-container-top .link-block:nth-child(2) a,
.home-container-top .link-block:nth-child(2) p {
    color: var(--white);
}

.home-container-bottom {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container-top #home-link-pro:hover {
    background-color: rgba(243, 244, 239, 0.438);
    transform: translateX(-3rem);
}

.home-container-top #home-link-pro:hover p{
    color: rgba(59,62,71,1.0);
    filter: contrast(200%);
}

.home-container-top #home-link-service:hover {
    background-color: rgba(243, 244, 239, 0.438);
    transform: translateX(3rem);
}

.home-container-top #home-link-service:hover p{
    color: rgba(59,62,71,1.0);
    filter: contrast(200%);
}

.home-container-bottom a {
    text-decoration: none;
    font-size: 3.2rem;
    padding: 0.5% 3%;
    background-color: #fff;
    border: 2px solid var(--black);
    border-radius: 100px;
    color: var(--black);
}


/*========== PRESENTATION PAGE (Qui sommes-nous ?) ==========*/
/*=======================================*/

.presentation-page p {
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: 2px;
    width: 60%;
    margin: 3% auto;
}

/*========== PROFESSIONNEL PAGES ==========*/
/*========================================*/

/*========== List page ==========*/

.professionnal-list-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.professionnal-list-page h1 {
    font-size: 4.8rem;
    margin: 3% auto;
    color: var(--red);
}

.professionnals-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.professionnals-list a {
    font-size: 2.4rem;
    text-decoration: none;
    color: #000;
}

.bubble-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid rgba(59,62,71,1);
    width: 13%;
    height: 250px;
    margin: 5%;
    word-wrap: break-word;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 28px 24px var(--grey); 
    box-shadow: 0px 0px 28px 4px var(--grey);
    opacity: 0;
    transition: opacity 1s ease;
}

.bubble-pro.appear {
    opacity: 1;
}

.bubble-pro p {
    text-align: center;
    font-size: 2.4rem;
}

/*========== Professionnal-show-page ==========*/

.profil-title-image {
    display: flex;
    justify-content: space-between;
    height: 50vh;
}

.profil-title-image h1 {
    font-size: 4.8rem;
    margin: auto;
    animation: appear 1s ease 1.5s;
    animation-fill-mode: backwards;
}

.profil-title-image .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 3% 0 0;
    border: 3px solid var(--black);
    width: 22%;
    height: 90%;
    border-radius: 55% 45% 28% 72% / 70% 45% 55% 30%;
    animation: moveInRight 1s ease-out 1s;
    animation-fill-mode: backwards;
}

.profil-title-image .image p {
    font-size: 2.4rem;
}

.profil-description {
    padding: 3%;
    animation: moveInLeft 1s ease-out 1s;
    animation-fill-mode: backwards;
}

.profil-description h2 {
    font-size: 3.2rem;
    margin-bottom: 1%;
}

.profil-description p {
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 1px;
    columns: 2;
}

/*========== SERVICE PAGES ==========*/
/*=================================*/

/*========== List-services ==========*/

.client-service-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.client-service-page h1 {
    font-size: 4.8rem;
    margin: 3% auto;
}

.services-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bubble-service {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    border: 3px solid rgba(59,62,71,1);
    width: 13%;
    height: 250px;
    margin: 3% 6%;
    word-wrap: break-word;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 28px 24px var(--grey); 
    box-shadow: 0px 0px 28px 4px var(--grey);
    opacity: 0;
    transition: opacity 1s ease;
}

.bubble-service.appear {
    opacity: 1;
}

.services-list a {
    font-size: 2.4rem;
    text-decoration: none;
    color: #000;
}

.handwriting-category {
    font-family: caveat;
    font-size: 4rem;
    font-weight: 500;
    position: absolute;
    top: 0%;
    left: -2%;
}

.handwriting-category.color-amo {
    color:var(--orange);
}

.handwriting-category.color-moe {
    color:var(--red);
}

.handwriting-category.color-conseil {
    color:var(--brown);
}

.amo {
    border: 3px solid rgba(237, 114, 26, 1);
    -webkit-box-shadow: 0px 0px 28px 24px var(--orange); 
    box-shadow: 0px 0px 28px 4px var(--orange);
}

.moe {
    border: 3px solid rgba(161, 25, 27, 1);
    -webkit-box-shadow: 0px 0px 28px 24px var(--red); 
    box-shadow: 0px 0px 28px 4px var(--red);
}

.conseil {
    border: 3px solid rgba(181, 147, 138, 1);
    -webkit-box-shadow: 0px 0px 28px 24px var(--brown); 
    box-shadow: 0px 0px 28px 4px var(--brown);
}

/*========== Service-show-page ==========*/

.service-title-image {
    display: flex;
    justify-content: space-between;
    height: 50vh;
}

.service-title-image h1 {
    font-size: 4.8rem;
    margin: auto;
    animation: appear 1s ease-out 1.5s;
    animation-fill-mode: backwards;
}

.service-title-image .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 3% 0 0;
    width: 20%;
    height: 90%;
    border-radius: 55% 45% 28% 72% / 70% 45% 55% 30%;
    animation: moveInRight 1s ease-out 1s;
    animation-fill-mode: backwards;
}

.service-title-image .image p {
    font-size: 2.4rem;
}

.service-description {
    padding: 3%;
    animation: moveInLeft 1s ease-out 1s;
    animation-fill-mode: backwards;
}

.service-description h2 {
    font-size: 3.2rem;
    margin-bottom: 1%;
}

.service-description p {
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 1px;
    columns: 2;
}

/*=========================================*/
/*========== REFERENCE LIST PAGE ==========*/

.references-list-block {
    width: 80%;
    margin: 3% auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.reference-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    margin: 3%;
    text-decoration: none;
    position: relative;
    opacity: 0;
    transition: all 1s ease;
}

.reference-block:hover .bubble-reference{
    filter: contrast(140%);
}

.reference-block.appear {
    opacity: 1;
}

.bubble-reference {
    overflow: hidden;
    transition: filter 0.5s ease;
}

.in-study {
    border: 3px solid rgba(181, 147, 138, 1);
    -webkit-box-shadow: 0px 0px 28px 24px var(--brown); 
    box-shadow: 0px 0px 28px 4px var(--brown);
}

.in-work {
    border: 3px solid rgba(237, 114, 26, 1);
    -webkit-box-shadow: 0px 0px 28px 24px var(--orange); 
    box-shadow: 0px 0px 28px 4px var(--orange);
}

.finished {
    border: 3px solid rgba(161, 25, 27, 1);
    -webkit-box-shadow: 0px 0px 28px 24px var(--red); 
    box-shadow: 0px 0px 28px 4px var(--red);
}

.handwriting-project {
    font-family: caveat;
    font-size: 4rem;
    font-weight: 500;
    position: absolute;
    top: 0%;
    left: -2%;
}

.handwriting-in-study {
    color:var(--brown);
}

.handwriting-in-work {
    color:var(--orange);
}

.handwriting-finished {
    color:var(--red);
}

.bubble-reference img {
    object-fit: cover;
}

.reference-block h3 {
    color: var(--black);
    font-size: 2rem;
    margin: 5% 0;
    padding: 0 2%;
}

/*=========================================*/
/*========== REFERENCE SHOW PAGE ==========*/

.reference-show-block {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 3% 0%;
}

.reference-show-image {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    margin-left: 9.5%;
    animation: moveInLeft 1s ease-out;
}

.reference-show-image img {
    margin-right: 5%;
    width: 460px;
    height: 350px
}

.reference-show-description {
    width: 40%;
    animation: moveInRight 1s ease-out;
}

.reference-show-description h1 {
    font-size: 4rem;
    margin: 2% 0% 3% 3.5%;
}

.reference-show-description strong {
    font-size: 2.1rem;
}

.reference-show-description p {
    margin: 3% 0% 1% 3.5%;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 1.5;
}

.reference-show-description .point {
    margin-top: 0;
    margin-bottom: 0;
}

.reference-show-description .bottom-pics {
    margin: 4.5% 0% 1% 3.5%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.reference-show-description .bottom-pics img {
    object-fit: cover;
    width: 48%;
    height: 70%;
}