/*========== PROFESSIONNEL PAGES ==========*/
/*========================================*/

/*========== List page ==========*/

.professionnal-list-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.professionnal-list-page h1 {
    font-size: 4.8rem;
    margin: 3% auto;
    color: var(--red);
}

.professionnals-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.professionnals-list a {
    font-size: 2.4rem;
    text-decoration: none;
    color: #000;
}

.bubble-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid rgba(59,62,71,1);
    width: 13%;
    height: 250px;
    margin: 5%;
    word-wrap: break-word;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 28px 24px var(--grey); 
    box-shadow: 0px 0px 28px 4px var(--grey);
    opacity: 0;
    transition: opacity 1s ease;
}

.bubble-pro.appear {
    opacity: 1;
}

.bubble-pro p {
    text-align: center;
    font-size: 2.4rem;
}

/*========== Professionnal-show-page ==========*/

.profil-title-image {
    display: flex;
    justify-content: space-between;
    height: 50vh;
}

.profil-title-image h1 {
    font-size: 4.8rem;
    margin: auto;
    animation: appear 0.5s ease 0.5s;
    animation-fill-mode: backwards;
}

.profil-title-image .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 3% 0 0;
    border: 3px solid var(--black);
    width: 22%;
    height: 90%;
    border-radius: 55% 45% 28% 72% / 70% 45% 55% 30%;
    animation: appear 1s ease-out 0.7s;
    animation-fill-mode: backwards;
}

.profil-title-image .image p {
    font-size: 2.4rem;
}

.profil-description {
    padding: 3%;
    animation: appear 0.7s ease-out 1s;
    animation-fill-mode: backwards;
}

.profil-description h2 {
    font-size: 3.2rem;
    margin-bottom: 1%;
}

.profil-description p {
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 1px;
    columns: 2;
}
