/*========== SERVICE PAGES ==========*/
/*=================================*/

/*========== List-services ==========*/

.client-service-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.client-service-page h1 {
    font-size: 4.8rem;
    margin: 3% auto;
}

.services-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bubble-service {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    width: 13%;
    height: 250px;
    margin: 3% 6%;
    word-wrap: break-word;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 28px 24px var(--grey); 
    box-shadow: 0px 0px 28px 4px var(--grey);
    opacity: 0;
    transition: opacity 1s ease;
}

.bubble-service.appear {
    opacity: 1;
}

.services-list a {
    font-size: 2.4rem;
    text-decoration: none;
    color: #000;
}

.handwriting-category {
    font-family: caveat;
    font-size: 4rem;
    font-weight: 500;
    position: absolute;
    top: 0%;
    left: -2%;
}

.handwriting-category.color-amo {
    color:var(--orange);
}

.handwriting-category.color-moe {
    color:var(--red);
}

.handwriting-category.color-conseil {
    color:var(--brown);
}

.amo {
    border: 1px solid rgba(237, 114, 26, 0.705);
    -webkit-box-shadow: 0px 0px 10px 12px var(--orange); 
    box-shadow: 0px 0px 12px 2px rgba(237, 114, 26, 0.527);
}

.moe {
    border: 1px solid rgba(161, 25, 27, 0.712);
    -webkit-box-shadow: 0px 0px 10px 12px var(--red); 
    box-shadow: 0px 0px 12px 2px rgba(161, 25, 27, 0.534);
}

.conseil {
    border: 1px solid rgba(181, 147, 138, 0.712);
    -webkit-box-shadow: 0px 0px 10px 12px var(--brown); 
    box-shadow: 0px 0px 12px 2px rgba(181, 147, 138, 0.527);
}

/*========== Service-show-page ==========*/

.service-title-image {
    display: flex;
    justify-content: space-between;
    height: 50vh;
}

.service-title-image h1 {
    font-size: 4.8rem;
    margin: auto;
    animation: appear 1s ease-out 1.5s;
    animation-fill-mode: backwards;
}

.service-title-image .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 3% 0 0;
    width: 20%;
    height: 90%;
    border-radius: 55% 45% 28% 72% / 70% 45% 55% 30%;
    animation: appear 1s ease-out 1s;
    animation-fill-mode: backwards;
}

.service-title-image .image p {
    font-size: 2.4rem;
}

.service-description {
    padding: 3%;
    animation: appear 1s ease-out 1s;
    animation-fill-mode: backwards;
}

.service-description h2 {
    font-size: 3.2rem;
    margin-bottom: 1%;
}

.service-description p {
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 1px;
    columns: 2;
}