{% extends 'base.html.twig' %}
{% block pageContainer %}

    <div class="client-service-page">

        <h1>Nos services</h1>
        <div class="services-list">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

{% endblock %}