{% extends 'base.html.twig' %}
{% block pageContainer %}

    <div class="client-service-page">

        <h1>Nos services</h1>
        <div class="services-list">
            {#
            {% for service in services %}
                < class="bubble-service"><p>{{ service.name }}</p></>
            {% endfor %} #}
        </div>
    </div>

{% endblock %}