{% extends 'base.html.twig' %}

{% block title %}Références{% endblock %}

{% block pageContainer %}
    <div class="references-list-block">
        {% for reference in references %}
            <a href="{{ path('reference_show', {id: reference.id}) }}"
            class="reference-block">
                <div class="bubble-reference">
                    <img src="{{ asset(reference.photoOne) }}"/>
                </div>
                <h3>{{ reference.name }}</h3>
            </a>
        {% endfor %}
    </div>
{% endblock %}