{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block pageContainer %}
    {% if app.user %}
        <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong>&#11013;</strong> Retour au panneau de configuration</a>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <input type ="submit" value="Envoyer">
    {{ form_end(form) }}
{% endblock %}