{% extends 'base.html.twig' %}

{% block title %}Nouveau professionnel{% endblock %}

{% block pageContainer %}
    <h1>Ajouter un nouveau professionnel</h1>
    {{ include('admin/_form.html.twig') }}
    <a href="{{ path('admin_panelconfig') }}"> &#11013; Revenir au panneau de configuration</a>
{% endblock %}
