{% extends 'base.html.twig' %}

{% block title %}Nouveau professionnel{% endblock %}

{% block pageContainer %}
    <h1>Ajouter un nouveau professionnel</h1>
    {{ include('admin/professionnal/_form-professionnal.html.twig') }}
    <a id="panelconfig-link" href="{{ path('admin_panelconfig') }}"><strong>&#11013;</strong> Retour au panneau de configuration</a>
{% endblock %}
