<header>
    <div class="header--logo">Ingé Scop logo</div>
    <nav>
        <ul>
            <li>Accueil</li>
            <li>Maître d'oeuvre</li>
            <li>Maître d'ouvrage</li>
            <li>Références</li>
        </ul>
    </nav>
    <div class="header--form-links">
        <p>Nous rejoindre</p>
        <p>Services</p>
    </div>
</header>