<form method="post" action="{{ path('admin_deleteservice', {'id': service.id}) }}" onsubmit="return confirm('Êtes vous sûr vouloir supprimer ce service ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <input type ="submit" value="Supprimer le service" class="bg-gray-700 hover:bg-yellow-600 transition duration-500 cursor-pointer text-white font-bold rounded-full focus:outline-none focus:shadow-outline delete-service-button">
</form>