{% extends "base.html.twig" %}

{% block title %}Nouveau Service{% endblock %}

{% block pageContainer %}
    <h1>Vous pouvez créer un nouveau service</h1>

    {{ include("admin/_form.html.twig") }}

{% endblock %}