{% extends 'base.html.twig' %}
{% block pageContainer %}

    <div class="professionnal-list-page">

        <h1>Nos professionnels</h1>
        
        <div class="professionnals-list">
        
            <ul>{% for professionnal in professionnels %}
            
                <li>{{ professionnal.name }} / {{ professionnal.job }} </li>

                {% endfor %}
            </ul>
            
        </div>
        
    </div>

{% endblock %}