{% extends 'base.html.twig' %}
{% block pageContainer %}

    <div class="professionnal-list-page">

        <h1>Nos professionnels</h1>
        <div class="professionnals-list">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

{% endblock %}