{% extends 'base.html.twig' %}
{% block pageContainer %}

    {% if app.user %}
            <a id="panelcongig-link" href="{{ path('admin_panelconfig') }}"><strong><=</strong> Retour au panel de configuration</a>
    {% endif %}
    <div class="professionnal-list-page">

        <h1>Nos professionnels</h1>
        <div class="professionnals-list">
            {% for professionnal in professionnels %}
                <a href="{{ path('professionnal_show', {id: professionnal.id}) }}" class="bubble-pro"><p>{{ professionnal.name }}</p> <p>{{ professionnal.job }}</p></a>
            {% endfor %}
        </div>
    </div>

{% endblock %}