<form method="post" action="{{ path('admin_partner_delete', {'id': partner.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce partenaire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
    <button class="btn">Supprimer le partenaire</button>
</form>
