{% extends 'base.html.twig' %}

{% block title %}Ajouter un partenaire{% endblock %}

{% block pageContainer %}
    <h1>Ajouter un partenaire</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('admin_panelconfig') }}">Revenir au panneau de configuration</a>

    {{ include('admin/partner/_delete_form.html.twig') }}
{% endblock %}
