{% extends 'base.html.twig' %}

{% block title %}Nouveau partenaire{% endblock %}

{% block pageContainer %}
    <h1>Créer un nouveau partenaire</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('admin_panelconfig') }}">Revenir au panneau de configuration</a>
{% endblock %}
